html, body {
    margin: 0px;
    padding: 0;
    background: #1B1924;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 90px;
    margin: 51px 0px 17px 0px;
}

h1 {
    margin: 0px;
    font-weight: 700;
    font-size: 25px;
    color: white;
}

#inputs-from-to {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 317px;
    margin-top: 9px;
    margin-bottom: 0px;
}

#from-input, #to-input {
    width: 152.85px;
    height: 40px;
    text-align: center;
}

.inputs {
    background: #444059;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    box-sizing: border-box;
}

#input-field {
    width: 317px;
    height: 118px;
    margin-top: 19px;
    padding: 12px 19px 12px 19px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    resize: none;
}

#input-field::-webkit-scrollbar {
    display: none;
}

#endorsement-input::-webkit-input-placeholder {
    color: #8F8F8F;
}

#publish-btn {
    background: #28A9F1;
    border: none;
    border-radius: 8px;
    width: 317px;
    height: 61px;
    margin-top: 9px;
    padding: 0px;
    font-weight: 700;
    font-size: 22px;
    font-family: inherit;
    line-height: 66px;
}

h2 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 19px;
}

.line {
    font-weight: 400;
}

ul {
     list-style: none;
     display: flex;
     flex-direction: column;
     padding: 0px;
     margin-top: 0;
}

ul li {
    font-family: "Inter", sans-serif;
    background: #FFFFFF;
    color: #1B1924;
    width: 317px;
    padding: 13px 16px;
    margin-bottom: 13px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    text-align: start;
    line-height: normal;
}

.from-output, .to-output {
    font-weight: 700;
    display: block;
}

.from-output {
    padding-top: 9px;
}

.to-output {
    padding-bottom: 9px;
}